@{
    ViewBag.Title = "Map";

    NLog.Logger logger = NLog.LogManager.GetCurrentClassLogger();
    logger.Info("Shared/Map.html");
    
}

<script type='text/javascript'>
    $(function () {

        var colors = {};
        GetColors();

        map;
        map = new jvm.Map({
            map: 'world_mill_en',
            container: $('#map'),
            onRegionClick: function (element, code, region) {
                ChangeCountry(code);
                location.reload(true);
            },
            series: {
                regions: [{
                    attribute: 'fill'
                }]
            }
        });

        map.series.regions[0].setValues(colors);

        // Получить с сервера данные по конкретной стране на основании кода
        function ChangeCountry(code) {
            var cod = new Array("");
            cod[0] = code;
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Map/ChangeCountry",
                async: false,
                data: JSON.stringify(cod),
                contentType: "application/json; charset=utf-8",
            });
        }

        // Получить с сервера массив стран и цвета их хозяев
        function GetColors() {
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Map/GetColors",
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: FormatColors,
                error: ErrorFunc
            });
        }

        // Подготовить цвета в формате удобном для jVectorMap
        function FormatColors(data, status) {
            var dataColors = {};
            dataColors = JSON.parse(data);

            for (var i = 0; i < dataColors.length ; i++) {
                colors[dataColors[i].cod.trim()] = dataColors[i].color;
            }
            //map.series.regions[0].setValues(colors);
        }

        function ErrorFunc(errorData) {
            alert('Ошибка' + errorData.responseText);
        }

    });

</script>

@*<div class="map" id="map" style="position: relative; width: 800px; height: 460px; left: -180px"></div>*@
