@{
    Layout = null;

    NLog.Logger logger = NLog.LogManager.GetCurrentClassLogger();
    logger.Info("Shared/SignalRprogressBar.html");
}

<p id="result"></p>    
<div id="progressBar"></div>    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
}

@section javascript {
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        function StartInvoicing() {
            var progressNotifier = $.connection.progressHub;

            // client-side sendMessage function that will be called from the server-side
            progressNotifier.client.sendMessage = function (message, count) {
                // update progress
                UpdateProgress(message, count);
                //alert(message);
            };

            // establish the connection to the server and start server-side operation
            $.connection.hub.start().done(function () {
                // call the method CallLongOperation defined in the Hub
                progressNotifier.server.getCountAndMessage();
            });
        }
        function UpdateProgress(message, count) {
            var result = $("#result");
            result.html(message);
            $("#progressBar").progressbar({
                value: count,
                max: 176
            });

        }
        $(document).ready(function () {
            StartInvoicing();
        })
    </script>
}             
