@{
    ViewBag.Title = "Contact";
}

<div class="container">
<br><br>
<hgroup class="title">
    <h1>My contacts</h1>
</hgroup>


<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="contact">+38(067)9118003</span>
    </p>
</section>


<section class="contact">
    <header>
        <h3>Skype</h3>
    </header>
    <p>
        <span class="contact">oleg.klimenko.work</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="contact"><a href="mailto:oleg.v.klimenko@gmail.com">oleg.v.klimenko@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        <span class="contact"> Ukraine, Kiev </span>
    </p>
</section>
</div>