@{
    ViewBag.Title = "Rules";
}

<div class="container">
        <br>
        <hgroup class="title">
            <h1>Rules.</h1>
            <h2>How to play the game.</h2>
        </hgroup>

        <article>
        <p>
        The goal is simple! - To conquer the world!
        </p>
        <p>
        To capture the country to send their robots. Use the tab <b>Bunker</b>.
        </p>
        <p>
        If you run out of robots - build them. Use the tab <b>Factory</b>.
        </p>
        <p>
        If the construction is not enough resources - wait. Each turn, the population produces new resources. To complete the stroke, click on the long button <b>"Next Turn"</b> at the bottom.
        </p>
        <p>
        If you do not know what to build robots - design your new! Use the tab <b>Design</b>.
        </p>
        <p>
        To obtain general information about the country, use the tab <b>Country</b>.
        </p>
        <p>
        To receive a report on developments in the country use the tab <b>Reports</b>.
        </p>
        <p>
        To select the country, simply click the mouse on the world map.
        </p>
        <p>
        Countries that belong to the player, are highlighted in red.
        </p>
        <p>
        At the beginning of the game each player controls the only one country. No one enters into alliances. Everyone fights for himself.
        </p>
        <p>
        It's all! Good luck, Commander!
        </p>
        </article>
</div>